.footer {
	position: relative;

	&__basement-wrapper {
		@include flexAllCenter;
		width: 100%;
		height: 100%;
		background: $gradientFooter;
		overflow: hidden;
	}

	&__basement-img {
		width: auto;
		height: 100%;
		-o-object-fit: cover;
		object-fit: cover;
		-o-object-position: center bottom;
		object-position: center bottom;
	}

	&__content {
		position: absolute;
		bottom: 23.4rem;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
		max-width: 77rem;
		width: 100%;

		@media screen and (max-width: 900px) {
			@include container;
			bottom: 11.7rem;
		}
	}

	&__location-container {
		background-color: $white;
		padding: dinamic(60px) dinamic(60px) dinamic(68px);
	}

	&__title {
		@include sectionTitle;
		color: $darkBlue;
	}

	&__location-wrapper {
		margin-top: 4.2rem;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		gap: dinamic(54px);

		@media screen and (max-width: 900px) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: reverse;
			-ms-flex-direction: column-reverse;
			flex-direction: column-reverse;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}

	&__contacts {
		-webkit-box-flex: 2;
		-ms-flex-positive: 2;
		flex-grow: 2;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 2.8rem;

		@media screen and (max-width: 900px) {
			-webkit-box-orient: horizontal;
			-webkit-box-direction: normal;
			-ms-flex-direction: row;
			flex-direction: row;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
		}

		@media screen and (max-width: 900px) {
			-webkit-box-pack: start;
			-ms-flex-pack: start;
			justify-content: flex-start;
		}
	}

	&__contact-item {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		max-width: 100%;
	}

	&__contact-swg-wrapper {
		width: 1.8rem;
		height: 1.8rem;
	}

	&__contact-swg {
		max-width: 100%;
		max-height: 100%;
		@include flexAllCenter;
	}

	&__contact-icon {
		fill: $middleBlue;
	}

	&__contact-text {
		margin-left: 1rem;
		text-decoration: none;
		@include montserrat--400;
		@include fs18--lh28;
		color: $black;

		@media screen and (max-width: 600px) {
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			word-wrap: unset;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
		}
	}

	&__form-wrapper {
		-webkit-box-flex: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;

		@media screen and (max-width: 900px) {
			width: 100%;
		}
	}

	&__form {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		gap: 3rem;

		@media screen and (max-width: 900px) {
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
		}
	}

	&__input {
		@include montserrat--400;
		@include fs18--lh27;
		color: $black;
		padding-bottom: 1.4rem;
		border: none;
		border-bottom: 1px solid rgba(44, 64, 88, 0.2);

		&::-webkit-input-placeholder {
			@include montserrat--400;
			@include fs18--lh27;
			color: $black;
			padding-bottom: 1.4rem;
			opacity: 0.5;
		}

		&::-moz-placeholder {
			@include montserrat--400;
			@include fs18--lh27;
			color: $black;
			padding-bottom: 1.4rem;
			opacity: 0.5;
		}

		&:-ms-input-placeholder {
			@include montserrat--400;
			@include fs18--lh27;
			color: $black;
			padding-bottom: 1.4rem;
			opacity: 0.5;
		}

		&::-ms-input-placeholder {
			@include montserrat--400;
			@include fs18--lh27;
			color: $black;
			padding-bottom: 1.4rem;
			opacity: 0.5;
		}

		&::placeholder {
			@include montserrat--400;
			@include fs18--lh27;
			color: $black;
			padding-bottom: 1.4rem;
			opacity: 0.5;
		}

		-webkit-transition: all 0.3s ease-in-out;

		-o-transition: all 0.3s ease-in-out;

		transition: all 0.3s ease-in-out;

		&:focus {
			border-color: $darkBlue;
		}

		&--email {
			&:focus:invalid {
				border-color: $red;
			}
		}

		@media screen and (max-width: 900px) {
			width: 100%;
		}
	}

	&__button {
		@include siteBotton;
		@include fs18--lh27;
		color: $darkBlue;
		background-color: $white;
		padding: 1.1rem 3.4rem 1.2rem;
		width: -webkit-max-content;
		width: -moz-max-content;
		width: max-content;

		-webkit-transition: all 0.3s linear;

		-o-transition: all 0.3s linear;

		transition: all 0.3s linear;

		&:hover,
		&:focus {
			-webkit-animation: colorHoverBtn 2s linear infinite;
			animation: colorHoverBtn 2s linear infinite;
		}

		&:active {
			color: $white;
		}
	}

	&__links-container {
		margin-top: 5.4rem;
	}

	&__links-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		width: 100%;

		@media screen and (max-width: 600px) {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			gap: 2rem;
		}
	}

	&__logo-wrapper {
		@include flexAllCenter;
	}

	&__logo-img {
		width: 100%;
		height: auto;
	}

	& .fSocial {
		@include flexAllCenter;
		&__wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: end;
			-ms-flex-pack: end;
			justify-content: end;
			gap: 2rem;
		}

		&__link {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			width: 4rem;
			height: 4rem;
			padding: 1.1rem 0;
			border-radius: 50%;
			border: 1px solid rgba(255, 255, 255, 0.4);
		}

		&__svg {
			width: 100%;
			height: 100%;
			@include flexAllCenter;
		}

		&__icon {
			fill: $white;
		}
	}

	&__copyright {
		margin-top: 4.1rem;
		@include montserrat--400;
		@include fs14--lh17;
		color: $white;

		@media screen and (max-width: 600px) {
			text-align: center;
		}
	}
}

.facebook {
	&:hover,
	&:focus {
		border-color: $facebook;
		-webkit-box-shadow: 0 0 15px $white;
		box-shadow: 0 0 15px $white;
	}

	&:active {
		-webkit-box-shadow: 0 0 15px $facebook;
		box-shadow: 0 0 15px $facebook;

		& .fSocial__icon {
			fill: $facebook;
		}
	}
}

.twitter {
	&:hover,
	&:focus {
		border-color: $twitter;
		-webkit-box-shadow: 0 0 15px $white;
		box-shadow: 0 0 15px $white;
	}

	&:active {
		-webkit-box-shadow: 0 0 15px $twitter;
		box-shadow: 0 0 15px $twitter;

		& .fSocial__icon {
			fill: $twitter;
		}
	}
}

.instagram {
	&:hover,
	&:focus {
		border-color: $instagram;
		-webkit-box-shadow: 0 0 15px $white;
		box-shadow: 0 0 15px $white;
	}

	&:active {
		-webkit-box-shadow: 0 0 15px $instagram;
		box-shadow: 0 0 15px $instagram;

		& .fSocial__icon {
			fill: $instagram;
		}
	}
}

#map {
	height: 70rem;
	width: 100%;
}
