.menu {
	@include flexAllCenter;

	@media screen and (max-width: 1300px) {
		-ms-grid-row: 2;
		grid-row-start: 2;
		-ms-grid-column-span: 2;
		grid-column: span 2;
	}

	@media screen and (max-width: 600px) {
		-ms-grid-row: 2;
		grid-row-start: 2;
		-ms-grid-column: 2;
		grid-column-start: 2;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		position: relative;
	}

	&__burger {
		@include burger;

		@media screen and (max-width: 600px) {
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 3;
		}

		&--activ {
			&::before {
				-webkit-transform: rotateZ(45deg);
				-ms-transform: rotate(45deg);
				transform: rotateZ(45deg);
			}

			&::after {
				-webkit-transform: rotateZ(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotateZ(-45deg);
			}
		}
	}

	&__bar {
		@include flexAllCenter;
		gap: dinamic(70px);
		list-style: none;
	}

	&__item {
		@include flexAllCenter;

		-webkit-transition: all 0.3s linear;

		-o-transition: all 0.3s linear;

		transition: all 0.3s linear;

		&::before {
			content: '';
			display: block;
			width: 1rem;
			height: 1rem;

			border-radius: 50%;
			border: 1px solid $white;

			margin-right: 1.4rem;

			-webkit-transition: all 0.3s linear;

			-o-transition: all 0.3s linear;

			transition: all 0.3s linear;
		}

		&:hover,
		&:active {
			&::before {
				background-color: $white;
			}
		}

		&:active {
			&::before {
				background-color: unset;
			}
		}

		@media screen and (max-width: 600px) {
			position: absolute;
			top: 0;
			right: 0;
			scale: 0;
		}
	}

	&__link {
		@include sourceSansPro--400;
		@include fs14--lh18;
		text-decoration: none;
		text-transform: uppercase;
		color: $white;
	}
}

.about--activ {
	-webkit-transform: translateX(-70%);
	-ms-transform: translateX(-70%);
	transform: translateX(-70%);
	scale: 1;
}
.projects--activ {
	-webkit-transform: translateX(-60%) translateY(140%);
	-ms-transform: translateX(-60%) translateY(140%);
	transform: translateX(-60%) translateY(140%);
	scale: 1;
}
.news--activ {
	-webkit-transform: translateX(-113%) translateY(280%);
	-ms-transform: translateX(-113%) translateY(280%);
	transform: translateX(-113%) translateY(280%);
	scale: 1;
}
.contact--activ {
	-webkit-transform: translateX(-40%) translateY(420%);
	-ms-transform: translateX(-40%) translateY(420%);
	transform: translateX(-40%) translateY(420%);
	scale: 1;
}

.social {
	@include flexAllCenter;

	@media screen and (max-width: 400px) {
		position: relative;
	}

	&__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: end;
		gap: dinamic(20px);
	}

	&__burger {
		@include burger;

		@media screen and (max-width: 400px) {
			display: -webkit-inline-box;
			display: -ms-inline-flexbox;
			display: inline-flex;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 3;
		}

		&--activ {
			&::before {
				-webkit-transform: rotateZ(45deg);
				-ms-transform: rotate(45deg);
				transform: rotateZ(45deg);
			}

			&::after {
				-webkit-transform: rotateZ(-45deg);
				-ms-transform: rotate(-45deg);
				transform: rotateZ(-45deg);
			}
		}
	}

	@media screen and (max-width: 600px) {
		-ms-grid-row: 2;
		grid-row-start: 2;
		-ms-grid-column: 1;
		grid-column-start: 1;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: start;
	}

	&__link {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 4rem;
		height: 4rem;
		padding: 1.1rem 0;
		border-radius: 50%;
		border: 1px solid rgba(255, 255, 255, 0.4);

		-webkit-transition: all 0.3s linear;

		-o-transition: all 0.3s linear;

		transition: all 0.3s linear;

		@media screen and (max-width: 400px) {
			position: absolute;
			top: 0;
			left: 0;
			scale: 0;
		}
	}

	&__svg {
		width: 100%;
		height: 100%;
		@include flexAllCenter;
	}

	&__icon {
		-webkit-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
		transition: all 0.3s linear;
		fill: $white;
	}
}

.facebook {
	&:hover,
	&:focus {
		border-color: $facebook;
		-webkit-box-shadow: 0 0 15px $white;
		box-shadow: 0 0 15px $white;
	}

	&:active {
		-webkit-box-shadow: 0 0 15px $facebook;
		box-shadow: 0 0 15px $facebook;

		& .social__icon {
			fill: $facebook;
		}
	}

	&--activ {
		-webkit-transform: translateX(150%);
		-ms-transform: translateX(150%);
		transform: translateX(150%);
		scale: 1;
	}
}

.twitter {
	&:hover,
	&:focus {
		border-color: $twitter;
		-webkit-box-shadow: 0 0 15px $white;
		box-shadow: 0 0 15px $white;
	}

	&:active {
		-webkit-box-shadow: 0 0 15px $twitter;
		box-shadow: 0 0 15px $twitter;

		& .social__icon {
			fill: $twitter;
		}
	}

	&--activ {
		-webkit-transform: translateY(120%) translateX(120%);
		-ms-transform: translateY(120%) translateX(120%);
		transform: translateY(120%) translateX(120%);
		scale: 1;
	}
}

.instagram {
	&:hover,
	&:focus {
		border-color: $instagram;
		-webkit-box-shadow: 0 0 15px $white;
		box-shadow: 0 0 15px $white;
	}

	&:active {
		-webkit-box-shadow: 0 0 15px $instagram;
		box-shadow: 0 0 15px $instagram;

		& .social__icon {
			fill: $instagram;
		}
	}

	&--activ {
		-webkit-transform: translateY(150%);
		-ms-transform: translateY(150%);
		transform: translateY(150%);
		scale: 1;
	}
}
