.what-we-do {
	@include sectionMargin;
	&__container {
		@include container;
	}

	&__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	&__title {
		@include sectionTitle;
		color: $darkBlue;
	}

	&__content {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: dinamic(177px);

		margin-top: dinamic(147px);

		@media screen and (max-width: $tablet) {
			margin-top: 7rem;
			gap: 7rem;
		}
	}
}

.item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: dinamic(64px);

	&--reverse {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}

	@media screen and (max-width: $tablet) {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&__picture-wrapper {
		@include flexAllCenter;
		-webkit-box-shadow: dinamic(-215px) dinamic(-57px) 0 $lightBlue;
		box-shadow: dinamic(-215px) dinamic(-57px) 0 $lightBlue;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		width: dinamic(630px);
		max-width: 63rem;
		-webkit-box-flex: 2;
		-ms-flex-positive: 2;
		flex-grow: 2;

		&--reverse {
			-webkit-box-shadow: dinamic(215px) dinamic(-57px) 0 $middleBlue;
			box-shadow: dinamic(215px) dinamic(-57px) 0 $middleBlue;
		}

		@media screen and (max-width: $tablet) {
			width: 100%;
		}
	}

	&__picture {
		width: 100%;
		height: 100%;
	}

	&__text-wrapper {
		@include what-we-do;
		max-width: 476px;
		width: dinamic(480px);

		@media screen and (max-width: $tablet) {
			width: 100%;
		}
	}
}
