*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color: $rockBlue;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;

    &__container {
        margin-inline: auto;
        max-width: 80%;
        width: 100%;
        height: 100%;
    }

    &__wrapper {
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10rem;
    }

    &__title {
        font-weight: 400;
        font-size: 5rem;
        line-height: 120%;
        color: $whisper;
    }

    &__btn-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }

    &__btn {
        display: inline-flex;
        background-color: $vanilla;
        border: 2px solid $baliHai;
        box-shadow: 0 0 2rem $baliHai;
        border-radius: 1rem;

        padding: 2rem 5rem;

        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;

        text-transform: uppercase;
        color: $baliHai;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            box-shadow: 0 0 5rem $whisper;
            border-color: $whisper;
            color: $whisper;
        }

        &:active {
            box-shadow: 0 0 5rem $hippieBlue;
            border-color: $hippieBlue;
            color: $hippieBlue;
        }
    }
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: $vanilla;

    &__container {
        margin: 10rem;
        padding: 2rem;

        background-color: $rockBlue;
        border: 2px solid $hippieBlue;
        border-radius: 2rem;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }

    &__btn {
        display: inline-flex;
        background-color: $vanilla;
        border: 2px solid $baliHai;
        box-shadow: 0 0 2rem $baliHai;
        border-radius: 1rem;

        padding: 2rem 5rem;

        font-weight: 700;
        font-size: 2rem;
        line-height: 120%;

        text-transform: uppercase;
        color: $baliHai;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            box-shadow: 0 0 5rem $hippieBlue;
            border-color: $hippieBlue;
            color: $hippieBlue;
        }

        &:active {
            box-shadow: 0 0 5rem $whisper;
            border-color: $whisper;
            color: $whisper;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 3rem;
        line-height: 120%;
        color: $whisper;
    }

    &__descr {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: $whisper;
        text-align: center;
    }

    &__task {
        width: 100%;
        height: 100%;
        background-color: $baliHai;

        padding: 1rem;
        border-radius: 1rem;
        border: 2px solid $hippieBlue;
    }
}

.none {
    display: none;
}

.first {
    &__user-input {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    &__area-name {
        background-color: unset;
        border: unset;
        border-bottom: 2px solid $hippieBlue;
        resize: none;
        width: 50%;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: $whisper;


        &::placeholder {
            color: $whisper;
            opacity: 0.7;
        }

        @media screen and (max-width: 1000px) {
            width: 100%;
        }
    }

    &__user-role-select {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: $whisper;
    }

    &__user-role-user,
    &__user-role-admin {
        display: flex;
        border-radius: 1rem;
        padding: 0.5rem 2rem;
        border: 2px solid $whisper;
        margin-left: 1rem;
        cursor: pointer;

        &--select {
            box-shadow: inset 0 0 5px 5px $whisper;
        }
    }

    &__user-btn {
        display: inline-flex;
        background-color: $vanilla;
        border: 2px solid $baliHai;
        box-shadow: 0 0 2rem $baliHai;
        border-radius: 1rem;

        padding: 0.5rem 2rem;

        font-weight: 700;
        font-size: 1.5rem;
        line-height: 120%;

        text-transform: uppercase;
        color: $baliHai;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            box-shadow: 0 0 5rem $hippieBlue;
            border-color: $hippieBlue;
            color: $hippieBlue;
        }

        &:active {
            box-shadow: 0 0 5rem $whisper;
            border-color: $whisper;
            color: $whisper;
        }
    }

    &__user-alert {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: $whisper;
        margin-top: 2rem;
    }

    &__user-table {
        margin-top: 2rem;
    }

    &__table {
        width: 100%;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: $whisper;
        border: 2px solid $whisper;
    }

    &__admin-btn,
    &__user-btn {
        display: inline-block;
        border-radius: 1rem;
        padding: 0.5rem 2rem;
        border: 2px solid $whisper;
        margin-left: 1rem;
        background-color: $vanilla;
        color: $whisper;

        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            box-shadow: inset 0 0 5px 5px $whisper;
        }

        &:active {
            box-shadow: inset 0 0 5px 5px $whisper;
            background-color: transparent;
        }
    }
}

th,
td {
    padding: 1rem;
    border: 1px solid $whisper;
    text-align: center;
    vertical-align: middle;
}

.second {
    &__location-input {
        display: flex;
        gap: 5rem;
    }

    &__area {
        background-color: unset;
        border: unset;
        border-bottom: 2px solid $hippieBlue;
        resize: none;
        width: 100%;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: $whisper;

        &::placeholder {
            color: $whisper;
            opacity: 0.7;
        }
    }

    &__location-btn {
        display: inline-block;
        min-width: max-content;
        background-color: $vanilla;
        border: 2px solid $baliHai;
        box-shadow: 0 0 2rem $baliHai;
        border-radius: 1rem;

        padding: 0.5rem 2rem;

        font-weight: 700;
        font-size: 1.5rem;
        line-height: 120%;

        text-transform: uppercase;
        color: $baliHai;
        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            box-shadow: 0 0 5rem $hippieBlue;
            border-color: $hippieBlue;
            color: $hippieBlue;
        }

        &:active {
            box-shadow: 0 0 5rem $whisper;
            border-color: $whisper;
            color: $whisper;
        }
    }

    &__results {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 2rem;
        justify-content: space-around;
    }

    &__clock-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__clock {
        width: 15rem;
        height: 15rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $whisper;
        background-color: $vanilla;
        border-radius: 50%;
        gap: 1rem;
    }

    &__clock-time,
    &__clock-date,
    &__clock-sity {
        font-size: 1.5rem;
        line-height: 120%;
        color: $whisper;
        text-align: center;
        text-transform: uppercase;
    }

    &__clock-time,
    &__clock-date {
        font-weight: 400;
    }

    &__clock-sity {
        font-weight: 700;
    }

    &__clockBtnBar {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 2rem;
    }

    &__clockBtnTime,
    &__clockBtnDate,
    &__clockBtnRemove {
        display: inline-block;
        border-radius: 1rem;
        padding: 0.5rem;
        border: 2px solid $whisper;
        background-color: $vanilla;
        font-weight: 700;
        font-size: 1rem;
        line-height: 120%;
        color: $whisper;
        text-transform: uppercase;

        cursor: pointer;
        transition: all 0.3s linear;

        &:hover {
            box-shadow: inset 0 0 5px 5px $whisper;
        }

        &:active {
            box-shadow: inset 0 0 5px 5px $whisper;
            background-color: transparent;
        }
    }

    &__errors {
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 120%;
        color: $whisper;
    }

}