body {
    font-family: 'Open Sans', sans-serif;
}

.menu_container {
    max-width: 970px;
    margin: 0 auto;
    padding: 25px 0;
    border-bottom: 1px solid #828282;
}

.home_container {
    max-width: 970px;
    margin: 0 auto;
    padding-top: 12px;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 100px 0;
}

.bgc_grey {
    background-color: #F6F6F6;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu_margin {
    margin-right: 40px;
}

.menu_position {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: #828282;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.site_header {
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #070707;
    margin-bottom: 50px;
}

.section_header {
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.site_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
}

.header_mb_20 {
    margin-bottom: 20px;
}

.header_mb_50 {
    margin-bottom: 50px;
}

.site_text_mb_30 {
    margin-bottom: 30px;
}
.site_text_mb_50 {
    margin-bottom: 50px;
}

.skills_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 230px;
    justify-content: space-between;
}

.skill_header {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #828282;
}

.skill_img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill_img_mb_25 {
    margin-bottom: 25px;
}

.portfolio_mb_70 {
    margin-bottom: 70px;
}

.portfolio_descr {
    text-align: center;
    margin: 40px auto 0 auto;
    max-width: 260px;
}

.portfolio_link {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #070707;
}

.botton_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button {
    background: #070707;
    border-radius: 22px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    padding: 0px 16px;
    margin: 60px 0 30px 0;
    width: 180px;
    height: 44px;
    border: none;
}

.media_links {
    text-decoration: none;
}

.icons_bar {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}

.icon_bar_margin {
    margin-right: 50px;
}

.link_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
    align-self: center;
}

.link_bar {
    max-width: 200px;
    margin: 0 auto;
}