.first {
	&__container {
		@include container;
	}
	&__wrapper {
		max-width: 52.3rem;
		margin: 15rem 0;

		@media screen and (max-width: $desktop) {
			margin: dinamic-desktop(150px) 0;
		}

		@media screen and (max-width: $mobile) {
			margin: 50px 0;
		}
	}

	&__title {
		@include title;
		@include color($darkText);

		&--strong {
			@include color($darkAccent);
		}
	}

	&__text {
		@include mainText;
		@include color($darkText);

		margin-top: 20px;
		margin-bottom: 50px;

		@media screen and (max-width: $desktop) {
			margin-top: dinamic-desktop(20px);
			margin-bottom: dinamic-desktop(50px);
		}

		@media screen and (max-width: $mobile) {
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}

	&__link {
		@include link;
		@include color($darkLink);

		&--text {
			&::before {
				@include backgroundColor($darkLink);
				opacity: 0.3;
			}
		}

		&:hover {
			@include color($darkLink-hover);

			& > .first__link--text::before {
				@include backgroundColor($darkLink-hover);
			}
		}

		&:focus {
			@include color($darkAccent);

			& > .first__link--text::before {
				@include backgroundColor($darkAccent);
			}
		}

		&:active {
			@include color($colorError);

			& > .first__link--text::before {
				@include backgroundColor($colorError);
			}
		}
	}
}
