.promises {
	&__container {
		@include container;
		@include sectionWrapper;
	}

	&__wrapper {
		position: relative;
	}

	&__img-wrapper {
		position: relative;

		width: max-content;

		&::after {
			position: absolute;
			content: '';

			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			background: linear-gradient(
				0deg,
				rgba(25, 28, 41, 0.84),
				rgba(25, 28, 41, 0.84)
			);
		}

		@media screen and (max-width: $tablet) {
			position: absolute;
		}
	}

	&__img {
		max-width: 100%;

		@media screen and (max-width: $desktop) {
			max-width: dinamic-desktop(1170px);
		}
	}

	&__content {
		position: absolute;
		display: grid;
		align-content: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 7rem 10rem;

		padding: 7.5rem 0 7.5rem 7.5rem;
		margin-left: 4.5rem;

		top: 4.5rem;
		bottom: 4.5rem;
		right: 0;

		max-width: 770px;

		@include backgroundColor($darkBackground);
		opacity: 0.9;

		@media screen and (max-width: $tablet) {
			position: relative;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
		}

		@media screen and (max-width: $desktop) {
			padding: dinamic-desktop(75px);

			padding-right: 0;
			gap: dinamic-desktop(70px) dinamic-desktop(100px);
		}

		@media screen and (max-width: $mobile) {
			padding: 2rem;
		}
	}

	&__list-item {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;

		@media screen and (max-width: $tablet) {
			align-items: center;
			text-align: center;
		}
	}

	&__list-title {
		@include playfair-400;
		font-size: 2.4rem;
		line-height: 200%;
		@include color($darkText);
	}

	&__list-descr {
		@include lato-300;
		@include mainText;
		@include color($darkText);
	}

	&__list-button {
		@include flexCenter;

		@media screen and (max-width: $tablet) {
			justify-content: center;
		}
	}
	&__list-link {
		@include link;
		@include color($darkLink);

		display: inline-block;
		padding: 3.3rem 8.9rem;
		border: 1px solid $darkBorder;

		@media screen and (max-width: $desktop) {
			padding: dinamic-desktop(33px) dinamic-desktop(89px);
		}

		@media screen and (max-width: $tablet) {
			padding: 3.3rem 8.9rem;
		}
		@media screen and (max-width: $mobile) {
			padding: 2rem 4.5rem;
		}

		&--text {
			&::before {
				@include backgroundColor($darkLink);
				opacity: 0.3;
			}
		}

		&:hover {
			border-color: $darkLink-hover;
			@include color($darkLink-hover);

			& > .promises__list-link--text::before {
				@include backgroundColor($darkLink-hover);
			}
		}
	}
}
