// colors
$white: #ffffff;
$lightBlue: #55b7ff;
$middleBlue: #7e5aff;
$darkBlue: #2c4058;
$black: #000000;
$red: #ff0000;

$facebook: #3b5998;
$twitter: #1da1f2;
$instagram: #d62976;

$gradientHeader: linear-gradient(243.43deg, #7e5aff 16.9%, #55b7ff 83.27%);
$gradientMain: linear-gradient(237.1deg, #24ccfa 11.16%, #3c7fd4 89.18%);
$gradientFooter: linear-gradient(251.06deg, #7e5aff -2.19%, #55b7ff 103.21%);

// wights
$dinamic: 1600px;
$desktop: 1600px;
$tablet: 900px;
