/* colors */
$black: #000000;
$white: #ffffff;
$grey900: #323232;
$grey700: #565656;
$grey500: #7b7b7b;
$grey300: #cccccc;
$grey100: #f4f4f4;
$errors: #e10000;

/* width */
$desktop: 1440px;
$smallDT: 1300px;
$tabletBig: 950px;
$tablet: 850px;
$tabletSmall: 650px;
$mobileBig: 480px;
$mobile: 320px;
$mobileSmall: 300px;
