* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

:root {
    --text: #000;
    --grid-front: #e6e6e6;
    --grid-back: #1a1a1a;
}

body {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    line-height: 4.8rem;
    color: var(--text);
    margin: 0;
}

.header {
    width: 100%;
    background-color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header__container {
    margin: 13px auto;
}

.header-content {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-content__navigation-block {
    display: inline-flex;
    gap: 50px;
}
.language-bottom__link {
    text-decoration: none;
    font-family: "Tourney", cursive;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.04rem;
    color: var(--text);
    text-transform: uppercase;
}

.nav__menu {
    display: inline-flex;
    gap: 10px;
}

.nav__link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "Staatliches", cursive;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 2.8rem;
    letter-spacing: 0.03rem;
    color: var(--text);
}

.main__content {
    margin: 70px 0;
}

.title::before {
    content: " ";
    width: 100px;
    height: 8px;
    background: #000000;
    margin-right: 20px;
    display: block;
    align-self: center;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4.8rem;
    letter-spacing: 0.04rem;
    color: var(--text);
    display: flex;
}

.main__title {
    margin-bottom: 40px;
}

.grid {
    padding: 20px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    gap: 30px;
}

.grid__item {
    position: relative;
    min-height: 180px;
    min-width: 270px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.grid__img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 8px;
    transition: 1s;
}

.grid__img--face {
    background-color: var(--grid-front);
}

.grid__img--back {
    background-color: var(--grid-back);
    transform: rotateX(180deg);
}

.grid__item:hover .grid__img--face {
    transform: rotateX(180deg);
}

.grid__item:hover .grid__img--back {
    transform: rotateX(360deg);
}
