.card {
	position: relative;
	background-color: $bg-cards;
	max-width: dinamic-desktop(370px);
	width: 100%;

	-webkit-box-shadow: 0px 0px 20px #8677ef;

	box-shadow: 0px 0px 20px #8677ef;

	-webkit-transition: all 0.5s linear;

	-o-transition: all 0.5s linear;

	transition: all 0.5s linear;

	&:hover {
		max-width: dinamic-desktop(400px);

		& .card__badge {
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			opacity: 1;
		}

		& .card__header {
			padding-top: 5rem;
			padding-bottom: 4rem;
		}

		& .card__main {
			padding-bottom: 6.7rem;
		}

		& .card__info {
			-webkit-transform: scale(1);
			-ms-transform: scale(1);
			transform: scale(1);
			opacity: 1;
			padding-top: 4.7rem;
		}

		& .card__button {
			//top: -2.9rem;
			//bottom: unset;
			background-color: $button-hover;

			-webkit-transform: translateY(-11.2rem);

			-ms-transform: translateY(-11.2rem);

			transform: translateY(-11.2rem);
		}
	}

	&__badge {
		position: absolute;
	}

	&__header {
		@include colum-center;
		gap: 20px;

		padding-top: 4rem;
		padding-bottom: 3rem;

		-webkit-transition: all 0.5s linear;

		-o-transition: all 0.5s linear;

		transition: all 0.5s linear;
	}

	&__text {
		@include price;
	}

	&__title {
		@include title;
	}

	&__main {
		background-image: url(../img/bg-image.png);
		background-position: center top;
		background-repeat: no-repeat;

		padding-top: 4rem;
		padding-bottom: 6rem;

		@include colum-center;

		gap: 4rem;

		-webkit-transition: all 0.5s linear;

		-o-transition: all 0.5s linear;

		transition: all 0.5s linear;
	}

	&__icon-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;

		width: 3rem;
		height: 3rem;
	}

	&__icon {
		width: 100%;
		height: 100%;
	}

	&__icon-link {
		fill: $icon;
	}

	&__list {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		gap: 3rem;
	}

	&__item {
		text-align: left;
		@include item;
	}

	&__footer {
		@include colum-center;
		position: relative;
	}

	&__info {
		@include info;

		-webkit-transition: all 0.5s linear;

		-o-transition: all 0.5s linear;

		transition: all 0.5s linear;

		-webkit-transform: scale(0);

		-ms-transform: scale(0);

		transform: scale(0);
		opacity: 0;

		padding-top: 0.9rem;
		padding-bottom: 3rem;
	}

	&__button {
		position: absolute;
		@include button;
		bottom: -50%;
	}

	&__badge {
		z-index: 10;
		position: absolute;
		top: 1rem;

		left: dinamic-desktop(322px);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		-webkit-transition: all 0.5s linear;

		-o-transition: all 0.5s linear;

		transition: all 0.5s linear;
		-webkit-transform-origin: left;
		-ms-transform-origin: left;
		transform-origin: left;
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
		opacity: 0;
	}

	&__badge-red {
		@include red;
	}

	&__badge-wrapper {
		width: 2rem;
		height: 1.7rem;
		margin-top: -0.6rem;
	}

	&__badge-icon {
		height: 100%;
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	&__badge-black {
		position: relative;
		@include black;
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		margin-left: -1.2rem;

		-webkit-box-shadow: 0px 0px 20px #8677ef;

		box-shadow: 0px 0px 20px #8677ef;

		&::before {
			position: absolute;
			content: '';
			display: inline-block;
			height: 1rem;
			width: 1rem;
			left: -0.3rem;

			-webkit-transform: rotateZ(45deg);

			-ms-transform: rotate(45deg);

			transform: rotateZ(45deg);

			background-color: $bg-tooltip;
		}
	}
}
