@function dinamic-desktop($n) {
	@return calc($n / $desktop) * 100 * 1vw;
}

/* fonts */
@mixin roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

@mixin bebas($weight) {
	font-family: 'BebasNeue', sans-serif;
	font-weight: $weight;
}

@mixin container {
	margin-inline: auto;
	max-width: dinamic-desktop(1200px);
}

@mixin colum-center {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin price {
	position: relative;
	text-transform: uppercase;
	@include bebas($fw100);
	font-size: 6rem;
	line-height: 6rem;
	letter-spacing: 0.08em;
	color: $text;

	&::before {
		position: absolute;
		content: '$';
		text-transform: uppercase;
		@include bebas($fw100);
		font-size: 2.4rem;
		line-height: 2.8rem;
		color: $icon;

		top: 0.5rem;
		left: -1rem;
	}

	&::after {
		position: absolute;
		content: '/hr';
		text-transform: uppercase;
		@include bebas($fw300);
		font-size: 1.6rem;
		line-height: 1.6rem;
		color: $text;
		letter-spacing: 0;
		bottom: 0.6rem;
		right: -1.1rem;
	}
}

@mixin title {
	@include bebas($fw300);
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 2.8rem;
	letter-spacing: 0.04em;
	color: $text;
}

@mixin item {
	@include roboto;
	font-size: 1.6rem;
	line-height: 2rem;
	letter-spacing: 0.04em;
	color: $text;
}

@mixin button {
	@include bebas($fw400);
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.8rem;
	line-height: 1.8rem;
	letter-spacing: 0.04em;
	color: $button-text;

	padding: 2rem 5rem;
	border-radius: 3rem;
	background-color: $button;

	-webkit-transition: all 0.5s linear;

	-o-transition: all 0.5s linear;

	transition: all 0.5s linear;
}

@mixin info {
	@include roboto;
	font-size: 1.1rem;
	line-height: 1.8rem;
	letter-spacing: 0.04em;
	color: $text-dscr;
}

@mixin red {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	height: dinamic-desktop(48px);
	width: dinamic-desktop(48px);
	border-radius: 50%;
	background-color: $bg-badge;

	@include bebas($fw300);
	text-transform: uppercase;
	font-size: 2.4rem;
	line-height: 2.4rem;
	letter-spacing: unset;
	color: $button-text;
}

@mixin black {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0.55rem 0;

	//height: 3rem;
	width: dinamic-desktop(96px);
	border-radius: 1.5rem;
	background-color: $bg-tooltip;

	@include bebas($fw400);
	text-transform: uppercase;
	font-size: 1.6rem;
	line-height: 1.9rem;
	letter-spacing: 0.04em;
	color: $button-text;
}
