/* colors */
$purple: #9789f9;
$blue: #6fcffb;
$red: #fd8d7b;

$white: #ffffff;
$gray-light: #f5f3f9;
$gray: #a9a9a9;
$gray-dark: #3b4040;
$dark: #181818;
$black: #000000;

$text: $black;
$text-dscr: $gray;
$icon: $dark;
$button: $blue;
$button-hover: $red;
$button-text: $white;
$bg-cards: $gray-light;
$bg-site: $purple;
$bg-badge: $red;
$bg-tooltip: $gray-dark;

$fw100: 100;
$fw200: 200;
$fw300: 300;
$fw400: 400;
$fw700: 700;

$desktop: 1440px;
