// fonts
@mixin montserrat($fontWeight) {
	font-family: 'Montserrat', sans-serif;
	font-weight: $fontWeight;
}

@mixin h1 {
	@include montserrat($m700);
	font-size: 5rem;
	line-height: 6.1rem;
	text-transform: uppercase;

	@media screen and (max-width: $res900) {
		font-size: 2.6rem;
		line-height: 3.2rem;
	}
}

@mixin h2 {
	@include montserrat($m700);
	font-size: 3.2rem;
	line-height: 3.9rem;
	text-transform: uppercase;

	@media screen and (max-width: $res900) {
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

@mixin prodName {
	@include montserrat($m600);
	font-size: 1.6rem;
	line-height: 2rem;
}

@mixin price {
	@include montserrat($m700);
	font-size: 2.4rem;
	line-height: 2.9rem;
}

@mixin badge {
	@include montserrat($m500);
	font-size: 1rem;
	line-height: 1.2rem;
	text-transform: uppercase;
}

@mixin buttonText {
	@include montserrat($m500);
	font-size: 1.8rem;
	line-height: 2.2rem;
	text-transform: uppercase;

	@media screen and (max-width: $res900) {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

@mixin menu {
	@include montserrat($m500);
	font-size: 2rem;
	line-height: 2.4rem;

	@media screen and (max-width: $res400) {
		font-size: 1.4rem;
		line-height: 2rem;
	}
}

@mixin footer {
	@include montserrat($m500);
	font-size: 2.6rem;
	line-height: 3.2rem;

	@media screen and (max-width: $tablet) {
		font-size: 2rem;
		line-height: 2.4rem;
	}
}

@mixin copy {
	@include montserrat($m500);
	font-size: 1.4rem;
	line-height: 1.7rem;

	@media screen and (max-width: $mobile) {
		font-size: 1.2rem;
		line-height: 1.5rem;
	}
}

// container
@mixin container($container, $resolution) {
	margin: 0 auto;
	max-width: calc($container / $resolution) * 100%;
	width: 100%;
}

@mixin svgFlex {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100%;
}

@mixin sectionPadding {
	padding: 7rem 0;

	@media screen and (max-width: $tablet) {
		padding: 5rem 0;
	}
}