$sliderGradient: linear-gradient(180deg,
		rgba(0, 0, 0, 0.84) 0%,
		rgba(217, 217, 217, 0) 100%);

$transition: all 0.2s linear;

// main colors
$white: #ffffff;
$brownLight: #f8f1ea;
$tomatoLight: #f16a50;
$tomato: #c62100;
$brownDark: #35312d;
$black: #000000;
$dotInactive: #f8f1ea;
$darkDotInactive: #cac2ba;
$arrowInactive: #202020;

// fonts
$m500: 500;
$m600: 600;
$m700: 700;


// wights
$desktop: 1400px;
$res900: 900px;
$tablet: 768px;
$res700: 700px;
$res400: 400px;
$mobile: 320px;

// containers
// 1400
// header - 1200

// 768
// header - 738

// 320
// header - 300