* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100vh;
}

:root {
    --siteGreen: #3db370;
    --siteBlue: #16133d;
    --siteGrey: #efeef3;
    --lightBlue: #7690a8;

    --path-1: #007ffc;
    --path-1-hover: #52c29d;

    --path-2: #b9dcff;
    --path-2-hover: #caeff2;

    --path-3: #d1e7ff;
    --path-3-hover: #e1f4f5;

    --path-4: #e8f3ff;
    --path-4-hover: #f4feff;

    --footer-icon: #0d0d0d;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 400;
    color: var(--siteBlue);
    height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.header__container {
    padding: 22.5px 0;
}

.main__container {
    padding: 100px 0;
}

.footer__container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-container--height-30 {
    height: 30px;
    width: auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12.55px;
}

.logo__text {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.logo__text--blue {
    color: var(--siteBlue);
}

.logo__text--white {
    color: white;
}

.header {
    border-bottom: 2px solid var(--siteGrey);
}

.subtitle {
    text-transform: uppercase;
    color: var(--lightBlue);
    line-height: 2.1rem;
}

.services__subtitle {
    margin-bottom: 15px;
}

.title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    line-height: 5.2rem;
    letter-spacing: 0.02rem;
    color: var(--siteBlue);
}

.services__title {
    margin-bottom: 40px;
}

.services__content {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.service-item {
    padding: 40px;
    border: 1px solid #e5eaf4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service-item:hover {
    border: 1px solid var(--siteGreen);
}

.button {
    width: 64px;
    height: 64px;
    border: 1px solid rgba(21, 101, 216, 0.1);
    border-radius: 16px;
}

.service-item:hover .button {
    border: 1px solid rgba(61, 179, 112, 0.1);
}

.path-1 {
    fill: var(--path-1);
}

.path-2 {
    fill: var(--path-2);
}

.path-3 {
    fill: var(--path-3);
}

.path-4 {
    fill: var(--path-4);
}
.service-item:hover .path-1 {
    fill: var(--path-1-hover);
}

.service-item:hover .path-2 {
    fill: var(--path-2-hover);
}

.service-item:hover .path-3 {
    fill: var(--path-3-hover);
}

.service-item:hover .path-4 {
    fill: var(--path-4-hover);
}

.service-item__descr {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.descr__title {
    font-size: 2.1rem;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
    color: var(--siteBlue);
}

.service-item__link {
    color: var(--siteGreen);
    text-decoration: none;
    font-weight: 700;
    line-height: 1.9rem;
}

.footer {
    background-color: var(--siteBlue);
}

.link-bar {
    display: flex;
    gap: 10px;
}

.link-item {
    background-color: var(--siteGrey);
    border-radius: 5px;
    width: 38px;
    height: 38px;
    padding: 9px;
}

.link-item_icon {
    fill: var(--footer-icon);
}

.link-item:hover .ink-item_icon {
    fill: var(--siteGreen);
}

.svg-container--footer {
    height: 100%;
}
