/* fonts */
@mixin lato-300 {
	font-family: $lato;
	font-weight: $fw300;
}

@mixin lato-400 {
	font-family: $lato;
	font-weight: $fw400;
}

@mixin lato-700 {
	font-family: $lato;
	font-weight: $fw700;
}

@mixin playfair-400 {
	font-family: $playfair;
	font-weight: $fw400;
}

/* theme mixins */
@mixin color($text-color) {
	color: $text-color;
}
@mixin backgroundColor($bg-color) {
	background-color: $bg-color;
}
@mixin fillColor($fill-color) {
	fill: $fill-color;
}

/* elements */
@mixin link {
	text-decoration: none;
	text-transform: uppercase;

	&--text {
		@include lato-700;
		font-size: 2rem;
		line-height: 100%;
		letter-spacing: 0.08em;

		transition: all 0.3s ease-in-out;

		position: relative;

		&::before {
			position: absolute;
			content: '';

			top: 1.1rem;
			bottom: -0.4rem;
			right: -0.7rem;
			left: 1rem;

			transition: all 0.3s ease-in-out;
		}
	}
}

@mixin title {
	@include playfair-400;
	font-size: 4.4rem;
	line-height: 5.2rem;

	&--strong {
		font-style: italic;
	}
}

@mixin mainText {
	@include lato-300;
	font-size: 1.8rem;
	line-height: 144%;
}

/* containers */
@mixin flexCenter {
	display: flex;
	align-items: center;
}

@mixin sectionWrapper {
	margin-top: 12rem;
	margin-bottom: 10rem;

	@media screen and (max-width: $mobile) {
		margin-top: 70px;
		margin-bottom: 70px;
	}
}

@mixin container {
	margin: 0 auto;
	width: 1170px;

	@media screen and (max-width: $desktop) {
		width: dinamic-desktop(1170px);
	}
}
