.body-theme__input {
	display: none;

	&:checked {
		& ~ .body__background {
			& > .body__background-wrapper--light {
				transform: scale(1);
			}

			& > .body__background-wrapper--dark {
				transform: scale(0);
			}
		}

		& ~ .body__all {
			& > .header {
				& > .burger > .burger__nav > .burger__list {
					& > .burger__item::after {
						background: $lightLink;
					}

					& > .burger__item > .burger__link {
						@include color($lightHeaderMenu);
					}
				}

				&
					> .header__background
					> .header__container
					> .header__wrapper {
					& > .header__theme {
						@include color($lightHeaderMenu);
						&::after {
							background: $lightLink;
						}
					}
					& > .header__burger-menu {
						@include color($lightHeaderMenu);
						&::after {
							background: $lightLink;
						}
					}
					& > .menu > .menu__list {
						& > .menu__item::after {
							background: $lightLink;
						}

						& > .menu__item > .menu__link {
							@include color($lightHeaderMenu);
						}
					}
				}
			}

			& ~ .main {
				& > .first > .first__container > .first__wrapper {
					& > .first__title {
						@include color($lightText);

						& > .first__title--strong {
							@include color($lightAccent);
						}
					}

					& > .first__text {
						@include color($lightText);
					}

					& > .first__link {
						@include color($lightLink);

						& > .first__link--text {
							@include color($lightLink);
						}

						&:hover {
							@include color($lightLink-hover);

							& > .first__link--text::before {
								@include backgroundColor($lightLink-hover);
							}
						}

						&:focus {
							@include color($lightAccent);

							& > .first__link--text::before {
								@include backgroundColor($lightAccent);
							}
						}
					}
				}

				& > .info > .info__container > .info__wrapper {
					& > .info__img-wrapper::after {
						background: unset;
					}

					& > .info__content {
						& > .info__statistic > .info__statistic-item {
							& > .info__statistic-title {
								@include color($lightText);
								& > .info__statistic-title--icon {
									@include color($lightText);
								}
							}
							& > .info__statistic-descr {
							}
						}
					}
				}
			}
		}
	}
}
