$black: #2f281e;
$white: #ffffff;
$orange: #ff9900;
$gray: #bcd0e5;
$brown: #544837;
$red: #bb3030;

/* menu items */
$text-menu: $black;
$hover-menu: $orange;

/* buttons */
$btn-text: $white;
$btn-text-rev: $black;
$btn-border: $orange;
$btn-border-rev: $gray;
$btn-bg: $orange;
$btn-bg-rev: $white;

/* text */
$title: $black;
$text: $brown;
$border: $gray;
$error: $red;
